{% extends "AppGym/base.html" %}

{% load static %}

{% block principal %}  
</header>

<main>

  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Bienvenido a GymRats</h1>
        <p class="lead text-body-secondary">En esta pagina vas a encontrar las mejores rutinas compartidas por personas</p>
      </div>
    </div>
  </section>

</main>

<footer class="text-body-secondary py-5">
  <div class="container">

    <p class="mb-1"> &copy; Gym</p>
  </div>
</footer>


    <script src="{%static 'AppGym/js/bootstrap.bundle.min.js' %}"></script>

      
  </body>
</html>
{%endblock%}