{% extends "AppGym/base.html" %}

{% load static %}

{% block principal %}
<main>
    {% if title %}
        <h1>{{ title }}</h1>
    {% else %}
        <h1>Mis Rutinas</h1>
    {% endif %}
    <ul>
        {%  for post in object_list  %}
        <li style="margin-top: 5px;"> 
            {{post.id}} - {{post.creado_el}} - {{ post.titulo_rutina }}   
            <a href="{% url 'rutina-detail' post.id %}" class="btn btn-primary btn-sm">Detalle</a>
            {% if user.is_authenticated %}
            <a href="{% url 'rutina-update' post.id %}" class="btn btn-secondary btn-sm">Actulizar</a>
            <a href="{% url 'rutina-delete' post.id %}" class="btn btn-danger btn-sm">Borrar</a>
            {% endif %} 
        </li>

        {% endfor %}
    </ul>
</main>
{% endblock %}